.header{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background: rgb(0, 0, 0, 0.3);
    padding: 0 2rem;
    height: 8vh;

    @mixin atSmaller{
        height: 6vh;
    }

    &__logo{
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $blueShade;
   /*      height: 10rem;
        width: 20rem; */

        @mixin atSmaller{
            height: 7rem;
            left: 50%;
            transform: translateX(-50%);
            width: 15rem;
        }
        @mixin atSmall{
            height: 9rem;
            left: 10%;
            transform: translateX(-10%);
            width: 15rem;
        }
        @mixin atMedium{
            height: 10rem;
            width: 18rem;
        }

        &__img{
            height: 55%;
        }
    }

    &__nav{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        @mixin atSmaller{
            display: none;
        }
        @mixin atSmall{
            display: none;
        }
        @mixin atMedium{
            display: flex;
        }
    }

    &__btn{   
        @mixin atSmaller{
            display: none;
        }
         @mixin atSmall{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            width: 13rem;
            height: 4rem;
            padding: 0;
        }
    }


    &__list{
        width: 50%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 80%;
    }

    &__item{
        display: inline;
    }

    &__link{
        text-decoration: none;
        color: white;
        font-size: 1.8rem;
    }
}