*{
    margin: 0;
<<<<<<< HEAD
    padding: 0;
=======
>>>>>>> newbranch
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    color: black;
    background: white;
<<<<<<< HEAD
    font-family: 'Roboto', sans-serif;
=======
    font-family: 'Roboto', 'sans-serif';
}

img{
    max-width: 100%;
    height: auto;
>>>>>>> newbranch
}