.btn{
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;

    &--blue{
        background: $blueShade;
    }
    &--orange{
        background: $orangeShade;
    }

    &--rounded{
        border-radius: 2.5rem;
    }

    @mixin atSmall{
        padding: 1rem 2rem;
        font-size: 1.3rem;
    }  

    @mixin atMedium{
        padding: 1.3rem 2.3rem;
        font-size: 1.8rem;
    }  

    @mixin atLarge{
        padding: 1.6rem 2.6rem;
        font-size: 2.1rem;
    } 
}